<p id="notice"><%= notice %></p><br>

<h2>My Movies</h2>

<table>
    <thead>
        <tr>
            <th>Seen</th>
            <th>Title</th>
            <th>Category</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= movie.seen %></td>
                <td><%= link_to movie.title, movie %></td>
                <td><%= movie.category.name %></td>
            </tr>
            <br>
            <br>
        <% end %>
    </tbody>
</table><br>

<%= link_to 'Add a new movie', new_movie_path %>
