<div class="container">
  <h2 style="text-align:center;">My Movies</h2>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Seen?</th>
        <th>Title</th>
        <th>Category</th>
      </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= movie.seen %></td>
                <td><%= link_to movie.title, movie %></td>
                <td><%= movie.category.name %></td>
            </tr>
        <% end %>
    </tbody>
</table><br>

<button><%= link_to 'Add a new movie', new_movie_path %></button><br><br>
<button><%= link_to 'Show seen movies', movies_seen_path %></button><br>
<br>

</div>
