<p id="notice"><%= notice %></p><br>
<div class="container">
  <h3 style="text-align:center;">My Movies</h3>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Seen?</th>
        <th>Title</th>
        <th>Category</th>
      </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= movie.seen ? "Yes" : "No" %></td>
                <td><%= link_to movie.title, movie %></td>
                <td><%= movie.category.name %></td>
            </tr>
        <% end %>
    </tbody>
</table><br>

<div class="center">
<button><%= link_to 'Add a new movie', new_movie_path %></button><br><br>
</div>

</div>
