<p id="notice"><%= notice %></p><br>

<h1>My Movies:</h1>

<table>
    <thead>
        <tr>
            <th>Seen</th>
            <th>Title</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= movie.seen %></td>
                <td><%= movie.title %></td>
                <td><%= link_to 'Show', movie %></td>
                <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
                <td><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure you want to delete this?' }%></td>
            </tr>
        <% end %>
    </tbody>
</table><br>