<br>
<br>
<div class="center">
<h4><b><%= @movie.title %><b></h4>
<br>
<div id="movie-info">
<p><strong> Release-date: </strong><%= @movie.release_year %></p>
<p><strong>Category: </strong><%= @movie.category.name%></p>
<p><strong>Seen: </strong><%= @movie.seen ? "Yes" : "No" %></p>
</div>
<br>


<%= link_to 'Edit', edit_movie_path(@movie) %>  |   
<%= link_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure you want to delete this movie?' }%>
</div>