<nav>
    <br>
                  
        <% if !user_signed_in? %>
            <%= link_to 'Home', root_path %>    |  
            <%= link_to 'Sign Up', new_user_registration_path %>    |
            <%= link_to 'Log In', new_user_session_path %>
        <% else %>
            You are logged in as <%= current_user.email %>  |   
            <%= link_to 'Movies', movies_path %>   |   
            <%= link_to 'Movie Categories', categories_path %>  |   
            
            <%= link_to 'Log Out', destroy_user_session_path, method: "delete" %>
            <hr>
        <% end %>
    
</nav>

