<nav>
    <ul>
        <li><%= link_to 'Home', root_path %></li><br>
        <% if !user_signed_in? %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li><br>
            <li><%= link_to 'Log In', new_user_session_path %></li><br>
        <% else %>
            <li>You are logged in as <%= current_user.email %></li><br>
            <li><%= link_to 'Your Movies', movies_path %></li><br>
            <li><%= link_to 'Log Out', destroy_user_session_path, method: "delete" %></li>
        <% end %>
    </ul>
</nav>

